.App {
  text-align: center;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #003cff;
  padding: 8px;
}

th {
  background-color: #003cff;
}

tr:hover {
  background-color: #7a7a7a;
}
